@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.cursor-blink {
    animation: blink 1s step-end infinite;
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b5b9be;
}

.service-card:hover {
    transition: all 0.3s;
    transform: scale(1.02);
}
